---
---

@import "{{ site.theme }}";
body {
    background-color: #020202; /* dark theme please */
    color: #72b01d; /* matrix style */
    font-family: 'Courier', monospace;

}
h1, h2, h3 {
    color: #96e072;
    font-family: 'Courier', monospace;
}
a {
    color: #16db65;
    text-decoration: none;
}

/*some other cool colors:
    0d2818 dark green
    04471c dark green
    058c42 turquoise
    16db65 lighter turquoise
*/